Activity/obj/
Crm/obj/
Ext.Net.MVC/obj/
Settings/obj/
Shell/obj/
Thesis.Authorization/obj/
Thesis.Caching/obj/
Thesis.Common/obj/
Thesis.Entities/obj/
Thesis.Lib/obj/
Thesis.Resources/obj/
Thesis.Web.UI/obj/
Thesis.suo
Activity/bin/
Crm/bin/
Ext.Net.MVC/bin/
Settings/bin/
Shell/bin/
Thesis.Authorization/bin/
Thesis.Caching/bin/
Thesis.Common/bin/
Thesis.Entities/bin/
Thesis.Lib/bin/
Thesis.Web.Demo/bin/
Thesis.Web.Demo/obj/
Thesis.Web.UI/bin/