Activity/obj/
Crm/obj/
Ext.Net.MVC/obj/
Settings/obj/
Shell/obj/
Thesis.Authorization/obj/
Thesis.Caching/obj/
Thesis.Common/obj/
Thesis.Entities/obj/
Thesis.Lib/obj/
Thesis.Resources/obj/
Thesis.Web.UI/obj/
Thesis.suo