<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AxiomEntities" connectionString="metadata=res://*/Axiom2DataModel.csdl|res://*/Axiom2DataModel.ssdl|res://*/Axiom2DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=178.18.195.115;initial catalog=Thesis;user id=sa;password=a2CCv1SX!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>